*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0 auto;
	padding-left: 0;
	padding-right: 0;
}

body {
	font-family: "Roboto", sans-serif;

	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
	grid-template-rows: 230px 1fr 77px;
	grid-template-columns: repeat (1fr);
	height: 100vh;
	margin: 0;
}

p,
h1,
h2,
h3 {
	margin-top: 0;
	margin-bottom: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
